apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: {{ansible_host}}:6443
localAPIEndpoint:
  advertiseAddress: 0.0.0.0
  bindPort: 6443
apiServer:
  certSANs:
  {% for server in groups['kubernetes_master_nodes'] %}
    - {{ hostvars[server]['ansible_host'] }}
  {% endfor -%}
  {%- if keepAliveIp is undefined -%}
    - {{ keepAliveIp }}
  {% endif %}
etcd:
  external:
    endpoints:
    {% for server in groups['kubernetes_master_nodes'] %}
    - https://{{ hostvars[server]['ansible_host'] }}:2379
    {% endfor -%}
    caFile: /etc/etcd/ssl/ca.pem
    certFile: /etc/etcd/ssl/etcd.pem
    keyFile: /etc/etcd/ssl/etcd-key.pem